@model List<Nutritionist.Core.Models.Nutritionist.List>
@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}
    <section class="team1 cid-smang9oIX1" id="team1-h">



        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <strong>Our team</strong>
                    </h3>

                </div>
                @if (Model != null)
                {
                    foreach (var nutritionist in Model)
                    {
                        
                            <div class="col-sm-6 col-lg-4">
                                <div class="card-wrap">
                                    @if (nutritionist.ProfileImage != null || nutritionist.ProfileImage.Length ==0)
                                    {
                                        <div class="image-wrap">
                                            <img src="data:image/jpg;base64, @Convert.ToBase64String(nutritionist.ProfileImage)">
                                        </div>
                                    }
                                    <div class="content-wrap">

                                        <center>
                                            <a class="beautyLink" asp-action="Detail" asp-controller="Nutritionist" asp-route-id=@nutritionist.Id.ToString()>
                                                @nutritionist.User.ToString()
                                            </a>
                                        </center>
                                        <h6 class="mbr-role mbr-fonts-style align-center my-3 display-4">
                                            <strong>@nutritionist.Departman</strong>
                                        </h6>
                                        <p class="card-text mbr-fonts-style align-center display-7">
                                            @nutritionist.ShortIntroduce
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                    }
                }

            </div>
        </div>
    </section>