@using Microsoft.AspNetCore.Http;

@model Nutritionist.Web.Models.ApiModelsCombines.HomeContIndexModel;
@{
    ViewData["Title"] = "Ana Sayfa";
    int userIdSession = -1, nutritionistIdSession = -1;
    if (Context.Session.GetInt32("UserId").HasValue)
    {
        userIdSession = Context.Session.GetInt32("UserId").Value;
    }
    if (Context.Session.GetInt32("NutId").HasValue)
    {
        nutritionistIdSession = Context.Session.GetInt32("NutId").Value;
    }
}
@functions{

    String ArrayToBase64(byte[] arr)
    {
        var res = Convert.ToBase64String(arr);
        return res;
    }
}
<section class="header1 cid-smaldQSKoC mbr-fullscreen" id="header1-0">
    <div class="mbr-overlay" style="opacity: 0; background-color: rgb(250, 250, 250);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Create your first website</strong></h1>

                <p class="mbr-text mbr-fonts-style display-7">

                    Mobirise Free Website Maker is perfect for non-techies and great for pro-coders for fast prototyping and small customers' projects.
                </p>
            </div>
        </div>
    </div>
</section>

@if (userIdSession == -1)
{
    <section class="info2 cid-smalFs0yB6" id="info2-3">

        <div class="align-center container-fluid">
            <div class="row justify-content-center">
                <div class="card col-12 col-lg-6">
                    <div class="wrapper">
                        <h3 class="mbr-section-title mb-4 mbr-fonts-style display-5">
                            <strong>Beslenme Danışmanı mısınız ?</strong>
                        </h3>
                        <p class="mbr-text mb-4 mbr-fonts-style display-4">
                            Visit our Help Center to get started developing websites with Mobirise. Use Help Center to find answers to your questions. Contact us directly at info@site.com
                        </p>
                        <div class="mbr-section-btn"><a class="btn btn-white display-4" asp-action="UserRegister" asp-controller="Home" >Klinik Oluştur</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="wrapper">
                        <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5">
                            <strong>Beslenme Danışmanı Arıyorum</strong>
                        </h3>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">
                            Beautiful website blocks, templates and themes help you to start easily. Expand your Mobirise experience with Code Editor, Form Builder and other extensions.
                        </p>
                        <div class="mbr-section-btn"><a class="btn btn-white display-4"  asp-action="UserRegister" asp-controller="Home" >Hesap Oluştur</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<section class="gallery3 cid-smamM4w0M4" id="gallery3-9">


    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Öne Çıkan Makaleler</strong></h4>

        </div>
        @Html.Partial("~/Views/Shared/ArticleListPartial.cshtml", Model.articlesList);
    </div>
</section>

<section class="countdown2 cid-smamwKIA1f mbr-fullscreen" id="countdown2-8">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 255, 255);">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="mbr-section-title mb-5 align-center mbr-fonts-style display-2">
                    <strong>Coming Soon</strong>
                </h3>
                <h4 class="mbr-section-subtitle mb-5 align-center mbr-fonts-style display-7">
                    Use this block as a countdown for your project if it's not ready yet. Set the date in Block
                    Parameters.
                </h4>
                <div class="row">
                    <div class="col-4">
                        <div class="number-wrap">
                            <span class="number display-2">
                                <b> @Model.siteDataCounts.userCount</b>
                            </span>
                            <span mbr-text class="period display-7">
                                Kullanıcı
                            </span>
                            <span mbr-text class="dot">:</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="number-wrap">
                            <span class="number display-2">
                                <b> @Model.siteDataCounts.nutritionistCount</b>
                            </span>
                            <span mbr-text class="period display-7">
                                Beslenme Uzmanı
                            </span>
                            <span mbr-text class="dot">:</span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="number-wrap">
                            <span class="number display-2">
                                <b>@Model.siteDataCounts.articleCount</b>
                            </span>
                            <span mbr-text class="period display-7">
                                Makale
                            </span>
                            <span mbr-text class="dot">:</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
