@model Nutritionist.Core.Models.User.Insert
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

    <section class="form7 cid-smbjXohQMj" id="form7-p">


        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Kayıt Ol</strong>
                </h3>

            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form">
                    <form asp-controller="Home" asp-action="UserRegister" method="post" class="mbr-form form-with-styler mx-auto">
                        <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                            Kayıt olabilmek için lütfen aşağıdaki bilgileri doğru bir şekilde doldurunuz.
                        </p>
                        <div class="dragArea row">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input type="text"  placeholder="Kullanıcı Adınız" class="form-control" value="" id="name-form7-p" asp-for="Username">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input type="text" placeholder="Adınız" class="form-control" value="" id="name-form7-p" asp-for="FirstName">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input type="text"  placeholder="Soyadınız" class="form-control" value="" id="name-form7-p" asp-for="SecondName">
                                <span asp-validation-for="SecondName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input type="password"  placeholder="Şifreniz" class="form-control" value="" id="password-form4-m" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <input type="password" placeholder="Şifrenizi Doğrulayınız" class="form-control" value="" id="password-form4-m" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-auto mbr-section-btn align-center">
                                <button type="submit" class="btn btn-primary display-4">Kaydol</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
