@using Microsoft.AspNetCore.Http;
@{
    int userIdSession = -1, nutritionistIdSession = -1;
    if (Context.Session.GetInt32("UserId").HasValue)
    {
        userIdSession = Context.Session.GetInt32("UserId").Value;
    }
    if (Context.Session.GetInt32("NutId").HasValue)
    {
        nutritionistIdSession = Context.Session.GetInt32("NutId").Value;
    }
}
<section class="menu menu2 cid-smalfSdkTh" once="menu" id="menu2-1">

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/assets/images/mbr.png" alt="Mobirise" style="height: 3.9rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-7" asp-action="Index" asp-controller="Home" >Beslenme Uzmanım</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" asp-action="Index" asp-controller="Home">
                            Ana Sayfa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" asp-action="List" asp-controller="Nutritionist">
                            Diyet Uzmanları
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black display-4" asp-action="List" asp-controller="Article">
                            Makaleler
                        </a>
                    </li>
                </ul>
                @if (nutritionistIdSession == -1)
                {
                    <div class="navbar-buttons mbr-section-btn">
                        @if (userIdSession == -1)
                        {
                            <a class="btn btn-info display-4" asp-action="UserRegister" asp-controller="Home">
                                Kayıt Ol
                            </a>
                            <a class="btn btn-warning display-4" asp-action="Login" asp-controller="Home">
                                Giriş Yap
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-info display-4" asp-action="Add" asp-controller="Nutritionist">
                                Klinik Oluştur
                            </a>
                        }

                    </div>
                }

                @if (userIdSession != -1)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seçenekler
                        </button>
                        <div class="dropdown-menu">
                            @if (nutritionistIdSession != -1)
                            {
                                <a class="dropdown-item" asp-action="Detail" asp-controller="Nutritionist" asp-route-id=@nutritionistIdSession.ToString()>Profil</a>
                                <a class="dropdown-item" asp-action="NutritionistArticleList" asp-controller="Article" asp-route-nutritionistId=@nutritionistIdSession.ToString()>Makalelerim</a>
                                <a class="dropdown-item" asp-action="AddArticle" asp-controller="Nutritionist">Makaleni Oluştur</a>
                                <a class="dropdown-item" asp-action="Edit" asp-controller="Nutritionist">Klinik Güncelle</a>
                            }
                            <a class="dropdown-item" asp-action="Edit" asp-controller="User">Bilgilerimi Güncelle</a>
                            <center>
                                <a asp-controller="User" asp-action="Delete" class="btn btn-outline-danger  m-2 px-3 py-2" onclick="return confirm('Hesabını kaldırmak istediginden emin misin ?',);"><i class="fas fa-trash-alt text-white"></i>Hesabı Kaldır</a>
                            </center>
                            @if (nutritionistIdSession != -1)
                            {
                                <center>
                                    <a asp-controller="Nutritionist" asp-action="Delete" class="btn btn-outline-secondary  m-2 px-3 py-2" onclick="return confirm('Klinigini kaldırmak istediginden emin misin ?',);"><i class="fas fa-trash-alt text-white"></i>Klinigi Kaldır</a>
                                </center>
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="LogOut" asp-controller="Home">Çıkış Yap</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>
</section>