@model Nutritionist.Web.Models.DeleteModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Message</p>
            <form asp-action=@Model.Action asp-controller=@Model.Controller method="post">
                <div class="form-group">
                    <input type="submit" value=@Model.Title class="btn btn-danger" asp-route-id=@Model.Id.ToString() />
                </div>

            </form>
        </div>
    </div>
</center>


@*
    <div class="form-group">
        <input type="submit" value="Cancel" class="btn btn-danger" asp-route-id="-1" />
    </div>
*@